* {
    margin: 0;
    padding: 0;
}
.space {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1e1e2f;
    overflow: hidden;
  }
  
  .mks {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
  }
  
  .rocket {
    width: 100%;
    transition: transform 0.3s linear;
    cursor: pointer;
    transform-origin: center;
  }
  
  .rocket:hover {
    transform: rotate(280deg);
  }
  
  @keyframes fly-away {
    0% {
      transform: translateY(0) rotate(280deg) scale(1);
      opacity: 1;
    }
    50% {
      transform: translate(-20vw, -20vh) rotate(280deg) scale(1.5);
    }
    100% {
      transform: translate(-100vw, -100vh) rotate(280deg) scale(0.5);
      opacity: 0;
    }
  }
  
  .rocket.fly {
    animation: fly-away 1.5s linear forwards;
  }

  .saturn {
    position: relative;
    top: -15vh;
    left: 25vw;
    animation: planet 2s infinite ease-in-out;
  }

  .mars {
    position: relative;
    bottom: -15vh;
    right: 25vw;
    animation: planet 2s infinite ease-in-out;
  }
  @keyframes planet {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-1vh);
      }
      100% {
        transform: translateY(0);
      }
  }